---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Changelog.astro";
import "@/styles/markdown.css";

const changelogs = await getCollection("changelogs");
---

<Layout>
  <article class="markdown-body">
    <h1>Changelog</h1>
    <p>
      <a href="https://github.com/open-ani/animeko/releases/latest" target="_blank" rel="noopener noreferrer">
        <img src="https://img.shields.io/github/v/release/open-ani/animeko?sort=semver&display_name=tag&style=flat-square" alt="GitHub Release"/>
      </a>
    </p>
    <blockquote>
      <p>
        本页面仅展示 v4.x.x 版本的更新日志, 且不包括 Beta 与 Pre-release 版本。
      </p>
    </blockquote>

    {
      changelogs.map(async (changelog) => {
        const { Content } = await render(changelog);
        return (
          <section>
            <h2>v{changelog.data.version}</h2>
            <p>更新时间: {changelog.data.publishTime}</p>
            <Content />
          </section>
        );
      })
    }
  </article>
</Layout>
