---
import DownloadList from '@/components/modules/DownloadList.astro'
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Animeko - 下载">
    <div>
        <h2>下载 Animeko</h2>
        <DownloadList />
    </div>
</Layout>
