---
import DownloadList from '@/components/modules/DownloadList.astro'
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Animeko - 下载">
    <div class="w-full xl:w-3/5 mx-auto py-6 px-4 space-y-3">
        <h2 class="text-3xl mt-6 text-white font-bold">下载 Animeko</h2>
        <DownloadList />
    </div>
</Layout>
