---
import Layout from "../layouts/Layout.astro"
import Header from "../components/home/Header.vue"
import DanmakuComment from "../components/home/DanmakuComment.vue"
import Features from "../components/home/Features.vue"
import FAQ from "../components/FAQ.vue"
---

<Layout title="Animeko">
    <main class="text-white xl:px-10 py-12 w-full">
        <Header client:load/>
        <Features/>
        <DanmakuComment client:visible/>
        <FAQ isIndex/>
    </main>
</Layout>
