---
import FAQ from '../components/FAQ.vue'
import DanmakuComment from '../components/home/DanmakuComment.vue'
import Features from '../components/home/Features.astro'
import Header from '../components/home/Header.vue'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Animeko">
    <main class="text-white xl:px-10 pb-12 w-full space-y-6 pt-24">
        <Header client:load />
        <Features />
        <DanmakuComment client:visible />
        <FAQ isIndex />
    </main>
</Layout>
