---
import FAQ from "@/components/home/FAQ.astro";
import Features from "@/components/home/Features.astro";
import Header from "@/components/home/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Animeko">
    <!-- pt-18 for navbar -->
    <main class="pt-18">
        <Header />
        <Features />
        <FAQ isIndex />
    </main>
</Layout>
