---
import FAQ from '@/components/modules/FAQ.astro'
import DanmakuComment from '@/components/home/DanmakuComment.astro'
import Features from '@/components/home/Features.astro'
import Header from '@/components/home/Header.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Animeko">
    <main class="text-white xl:px-10 pb-12 w-full space-y-6 pt-24">
        <Header />
        <Features />
        <DanmakuComment />
        <FAQ isIndex />
    </main>
</Layout>
