---
interface Props {
  title?: string
  desc?: string
}

const { title, desc } = Astro.props
---

<dl>
  <div>
    <slot />
  </div>
  <dt>
    <slot name="title">
      {title ?? ''}
    </slot>
  </dt>
  <dd>
    <slot name="desc">
      {desc ?? ''}
    </slot>
  </dd>
</dl>
