<footer class="py-4 bg-bg-base border-t border-surface-highlight mt-auto">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row justify-between items-center gap-4">
    <div class="text-text-muted text-sm flex items-center gap-2">
      <span>© 2024-2026</span>
      <a target="_blank" href="https://github.com/open-ani/animeko" class="hover:text-primary transition-colors flex items-center gap-1">
        <i class="mgc_heart_fill text-red-500"></i> 
        Animeko
      </a>
    </div>
    
    <div class="flex items-center gap-6">
      <a
        href="https://github.com/open-ani/animeko"
        class="text-text-muted hover:text-primary text-sm font-medium transition-colors flex items-center gap-1"
      >
        <i class="mgc_github_fill text-lg"></i>
        Github
      </a>
      <a href="https://t.me/openani" class="text-text-muted hover:text-primary text-sm font-medium transition-colors flex items-center gap-1">
        <i class="mgc_telegram_fill text-lg"></i>
        Telegram
      </a>
    </div>
  </div>
</footer>
