<div>
  <div>
    <span>© 2024-2025 </span>
    <a target="_blank" href="https://github.com/open-ani/animeko">❤ Animeko</a>
  </div>
  <div>
    <a
      href="https://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=2EbZ0Qxe-fI_AHJLCMnSIOnqw-nfrFH5&authKey=L31zTMwfbMG0FhIgt8xNHGOFPHc531mSw2YzUVupHLRJ4L2f8xerAd%2ByNl4OigRK&noverify=0&group_code=927170241"
    >QQ群</a>
    <a href="https://t.me/openani">TG群</a>
  </div>
</div>
