---
const navigation = [
  { name: '主页', href: '/' },
  { name: '下载', href: '/downloads' },
  { name: '功能截图', href: '/about' },
  { name: '更新日志', href: '/changelogs' },
  { name: '常见问题', href: '/wiki' },
];

const currentPath = Astro.url.pathname;
const isActive = (href: string) => {
    if (href === '/') {
        return currentPath === '/';
    }
    return currentPath.startsWith(href);
};
---

<nav>
  <div>
    <div>
      <div>
        <button type="button" id="mobile-menu-btn">
          <span class="sr-only">Open main menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div>
        <a href="/">
          <img alt="logo" src="/logo.png">
        </a>
        <div>
          <div>
            {navigation.map((item) => (
              <a
                href={item.href}
                aria-current={isActive(item.href) ? 'page' : undefined}
              >
                {item.name}
              </a>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      {navigation.map((item) => (
        <a
          href={item.href}
          aria-current={isActive(item.href) ? 'page' : undefined}
        >
          {item.name}
        </a>
      ))}
    </div>
  </div>
</nav>

<script>
  const btn = document.getElementById('mobile-menu-btn');
  const menu = document.getElementById('mobile-menu');

  if (btn && menu) {
    btn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  }
</script>
