---
import FAQ from '@/components/modules/FAQ.astro'
import Layout from '@/layouts/Layout.astro'

const allPosts = await Astro.glob('./*.md');
---

<Layout title="Animeko">
    <main class="text-white xl:px-10 py-12 w-full flex items-center flex-col">
        <span class="mt-4 mb-6 text-4xl font-bold leading-none text-center">疑难杂症</span>

        <ul class="w-full list-decimal px-8 xl:w-3/5">
            {allPosts.map(post => <li class="w-full py-1"><a class="w-full block underline underline-offset-[4px] hover:text-blue-400" href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
        <FAQ />
    </main>
</Layout>
