---
interface Props {
	title: string;
}

import NavBar from "../components/NavBar.vue";
import Footer from "../components/Footer.vue"

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full h-full relative isolate bg-gray-900">
		<NavBar client:load/>
		<slot />
		<div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
			<div class="aspect-[1155/678] w-[24.8rem] xl:w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
	</body>
	<footer>
		<Footer />
	</footer>
</html>

<style is:global>
	html,
	body {
		padding: 0;
	}
</style>
